In [28]:
import requests
import pandas as pd
import API_test
import json
import requests

In [33]:
API_test.data()

,id,username,bio,uuid,employee_count,name,bio
0,c660176c-3814-4bdc-aab2-471605afb900,francisodero,Ecoscope Engineer,ee03dde9-9822-4942-8c30-3485754c439c,1,MEP,Elephants
1,aeeb4379-3b00-4e23-a1ef-786b36480405,Odero,Protecting wildlife,497244e0-2f45-4070-a0da-878363a43269,1,KWS,wildlife
2,8e8faee0-1069-4417-8ec4-1f5d004a72c5,Francis,Greater Mara ecosystem,d37ef9f1-e004-4e84-958f-685e23e2f0cb,1,MMWCA,conservation

In [36]:
API_test.event(user='Francis')

,id,username,bio,uuid,employee_count,name,bio
0,8e8faee0-1069-4417-8ec4-1f5d004a72c5,Francis,Greater Mara ecosystem,d37ef9f1-e004-4e84-958f-685e23e2f0cb,1,MMWCA,conservation